.boxSegmentos{
    padding: 20px 80px 50px 80px;
    display: inline-block;
    
}

/*Comandos do Box3*/
.boxSegmentos .box1{

    width: 45%;
    float: left;
}

.boxSegmentos li{
    display: block;
    width: 250px;
    height: 90px;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 20px;
    color: #00cbe4;
    cursor: pointer;
}

.boxSegmentos a{
    vertical-align: baseline;
    margin-left: 25px;
    color: #443d3d;
    font-size: 20px;
    text-transform: none;
    font-family: 'Exo3';
}

.boxSegmentos i{
    font-size: 40px;
    color: #00cbe4;
}

.boxSegmentos .selecao{
    background-image: linear-gradient(to right, #00cbe4, #00ecff); /*efeito degradé*/
    color: white;
}

.boxSegmentos .selecao a, .boxSegmentos .selecao i{
    color: white;
}

.boxSegmentos .menu1, .menu2{
    float: left;
}

.boxSegmentos .menu2 li{
    margin-left: 20px;
    
}



/*Comandos do Box2*/
.boxSegmentos .box2{
    border: solid 1px;
    width: 52%;
    float: left;
    margin-left: 10px;
}