.boxSolucoes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.boxSolucoes .tituloMenu{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.boxSolucoes .tituloDestaque{
    font-size: 45px;
    margin-bottom: 15px;
}

.boxSolucoes .texto p{
    margin-top: 10px;
}

.boxSolucoes .menuBox{
    padding-top: 20px;
}

.boxSolucoes .menuBox a{
    margin: 0 10px 0 10px;
    padding: 10px 25px 10px 25px;
    border: #00cbe4 solid 1px;
    border-radius: 5px;
}

.boxSolucoes .menuBox a:hover{
    background-image: linear-gradient(to right, #00cbe4, #00ecff); /*efeito degradé*/
    color: white;
}

.conteudoBox{
    margin-top: 30px;
    text-align: left;
    padding: 10px 80px 10px 80px;
    display: inline-flex;
    width: 100%;
}

.conteudoBox .box1{
    float: left;
    margin-right: 2%;
    width: 50%;
}

.conteudoBox .imagem{
    width: 100%;
    margin: 0;
    padding: 0;
}

.conteudoBox .box2{
    width: 50%;
    
}

.conteudoBox .box2 .icon{
    width: 80px;
    padding: 6px;
    background-image: linear-gradient(to right, #00cbe4, #00ecff);
    
}

.conteudoBox .box2 .box2-1{
    float: left;
    margin-right: 10px;
}

.conteudoBox .box2 .box2-2 h2{
    padding: 1px 0 15px 0;
    text-transform: uppercase;
}

.conteudoBox .box2 .box2-2 p{
    margin-bottom: 12px;
    line-height: 25px;
    font-size: 14px;
}

.conteudoBox .box2 .box2-3{
    text-align: center;
    padding-top: 40px;
}

.conteudoBox .box2 .box2-3 a{
    margin: 0 10px 0 10px;
    padding: 10px 25px 10px 25px;
    color: white;
    background-image: linear-gradient(to right, #00cbe4, #00ecff);
    border: #00cbe4 solid 1px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

.conteudoBox .box2 .box2-3 a:hover{
    background-image: linear-gradient(to right, #39c8db, #6ae8f1);
}

@media (max-width: 1000px){
    *{
        transition: 1.5s;
    }

    .conteudoBox{
        display: block;
    }

    .conteudoBox .box1{
        width: 100%;
        margin-bottom: 30px;
    }

    .conteudoBox .box2{
        width: 100%;
    }

    .menuBox ul li{
        padding-bottom: 10px;
        width: 100%;
    }

    .menuBox a{
        display: block;
        
    }
}