.boxInscrevase{
    display: inline-block;
    width: 100%;
    background-image: url("../img/map.png");
    padding: 30px 60px 30px 60px;
    text-align: center;
}

/*Comando box1*/
.boxInscrevase .box1{
    margin-bottom: 60px;
}

.boxInscrevase .box1 .tituloMenu{
    font-size: 18px;
    color: #00cbe0;
    margin-bottom: 5px;
}

.boxInscrevase .box1 .tituloDestaque{
    font-size: 45px;
    margin-bottom: 15px;
}

/*Comando box2*/
.boxInscrevase .box2 .fundo{
    display: inline-flex;
    background-color: white;
    border: #00cbe0 solid 2px;
    border-radius: 5px;
    width: 600px;

}

.boxInscrevase .box2 .inscricao{
    width: 75%;
    height: 45px;
    padding: 10px;
    font-size: 17px;
    background: transparent;
    border: none;
}

.boxInscrevase .box2 a{
    width: 25%;
    padding: 12px 25px 12px 25px;
    background-image: linear-gradient(to right, #00cbe0, #00ecff);
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    color: white;
}

.boxInscrevase .box2 i{
    display: none;
}

/*Comando media query*/
@media (max-width: 800px){
    .boxInscrevase .box2 .fundo{
        width: 90%;
    }

    .boxInscrevase .box2 a{
        display: none;
    }

    .boxInscrevase .box2 i{
        display: block;
        cursor: pointer;
        width: 25%;
        padding: 12px 25px 12px 25px;
        background-image: linear-gradient(to right, #00cbe0, #00ecff);
        border-radius: 0 5px 5px 0;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 550px){
    .boxInscrevase{
        padding-left: 20px;
        padding-right: 20px;
    }
}