.boxInovamaps{
    background-color: #3592ff;
    padding: 20px 60px 50px 60px;
    display: inline-block;
    color: white;
}

.boxInovamaps .box1{
    float: left;
    width: 55%;
}

.boxInovamaps .box1 .tituloMenu{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}

.boxInovamaps .box1 .tituloDestaque{
    text-transform: uppercase;
    font-size: 45px;
    color: white;
}

.boxInovamaps .box1 .texto{
    margin-top: 25px;
    line-height: 26px;
    color: white;
}

.boxInovamaps .box1 .btn{
    height: 50px;
    margin-top: 45px;
}

.boxInovamaps .box1 .btn .btnBox{
    text-transform: uppercase;
    background-color: white;
    color: #6319ff;
    padding: 15px 60px 15px 60px;
    border-radius: 5px;   
}

.boxInovamaps .box1 .btn .btnBox:hover{
    background-color: rgba(255, 255, 255, 0.658);
}

/*Comandos Box 2*/
.boxInovamaps .box2{
    float: left;
    width: 45%;
}

.boxInovamaps .box2 .box2-1{
    border: solid 4px white;
    border-radius: 5px;
    width: 45%;
    width: 200px;
    height: 150px;
    margin: 10px;
    float: left;
}

.boxInovamaps i{
    color: white;
}

.boxInovamaps .icon{
    font-size: 30px;
    padding: 40px 20px 50px 20px;
    float: left;
}

.boxInovamaps .box2-1 .valor{
    font-size: 30px;
    text-align: center;
    display: block;
    padding-top: 15px ;
    font-family: 'Exo3';
    color: white;
}

.boxInovamaps .box2-1 .texto{
    text-align: center;
    font-size: 19px;
    display: block;
    color: white;
}

/*Comandos media query*/
@media (max-width: 1140px){
    .boxInovamaps .box1{
        display: inline-block;
        float: none;
        width: 100%;
        transition: 1s;
    }

    .boxInovamaps .box2{
        transition: 1s;
        width: 100%;
    }

    .boxInovamaps .box2 .box2-1{
        display: flex;
        text-align: center;
    }

}

@media (max-width: 1050px){
    .boxInovamaps .box2 .parte1, .boxInovamaps .box2 .parte2{
        display: flex;
        float: left;
        width: 100%;
    }

    .boxInovamaps .parte1 .box2-1, .boxInovamaps .parte2 .box2-1{
        float: left;
        width: 50%;
    }
}

@media (max-width: 600px){
    .boxInovamaps .box2 .box2-1{
        width: 100%;
    }

    .boxInovamaps .box2 .parte1, .boxInovamaps .box2 .parte2{
        display: block;
        float: none;
        width: 100%;
    }
}

@media (max-width: 550px){
    .boxInovamaps{
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxInovamaps .box2{
        padding-right: 20px;
    }

    .boxInovamaps .box1 .tituloDestaque{
        font-size: 30px;
        margin-top: 15px;
    }

    
}