.boxNoticias{
    background-color: #191919;
    display: flex;
    padding: 35px 80px 35px 80px;
}

/*Comandos Box1*/
.boxNoticias .box1{
    float: left;
    width: 55%;
}

.boxNoticias .boxTexto .tituloDestaque{
    font-size: 30px;
    color: white;
}

.boxNoticias .boxTexto .texto{
    color: white;
    margin-top: 20px;
}

.boxNoticias .boxImagem{
    background-color: #333333;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

.boxNoticias .boxImagem img{
    width: 32%;
    padding: 12px;
}



/*Comandos Box2*/
.boxNoticias .box2{
    float: left;
    width: 45%;
    margin-left: 20px;
    background-color: #333333;

}

.boxNoticias .box2 video{
    width: 100%;
}

.boxNoticias .box2 a{
    color: #626262;
    padding: 5px;
}

/*Comandos media query*/
@media (max-width: 1000px) {
    .boxNoticias{
        display: block;
    }

    .boxNoticias .box1{
        float: none;
        width: 100%;
        text-align: center;
    }

    .boxNoticias .box2{
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 550px){
    .boxNoticias{
        padding-left: 20px;
        padding-right: 20px;
    }
}