*{
    margin: 0;
    padding: 0;
    color: #343a40;
    font-family: 'open-sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



@font-face {
    font-family: 'open-sans';
    src: url('../fontes/Open_Sans/static/OpenSans/OpenSans-Medium.ttf');
}