.boxSegmentos{
    padding: 20px 80px 50px 80px;
    display: inline-block;
    
}

/*Comandos do Box3*/
.boxSegmentos .box1{
    width: 45%;
    display: inline-flex;
    float: left;
    text-align: center;
}

.boxSegmentos li{
    display: block;
    width: 100%;
    height: 90px;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
    margin-bottom: 20px;
    color: #00cbe4;
    cursor: pointer;
}

.boxSegmentos a{
    vertical-align: baseline;
    margin-left: 15px;
    color: #443d3d;
    font-size: 18px;
    text-transform: none;
    font-family: 'Exo3';
}

.boxSegmentos i{
    font-size: 35px;
    color: #00cbe4;
}

.boxSegmentos .selecao{
    background-image: linear-gradient(to right, #00cbe4, #00ecff); /*efeito degradé*/
    color: white;
}

.boxSegmentos .selecao a, .boxSegmentos .selecao i{
    color: white;
}

.boxSegmentos .menu1, .menu2{
    float: left;
}

.boxSegmentos .menu2 li{
    margin-left: 20px;
    
}



/*Comandos do Box2*/
.boxSegmentos .box2{
    width: 52%;
    float: left;
    margin-left: 20px;
}

.boxSegmentos .titulo{
    font-size: 18px;
    color: #00cbe4;
    text-transform: uppercase;
}

.boxSegmentos .tituloDestaque{
    font-size: 40px;
}

.boxSegmentos .texto{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
}

.boxSegmentos .checkList{
    margin-top: 20px;
    font-size: 14px;
}

.boxSegmentos .checkList i{
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 4px #00c9e49a;
    border-radius: 100%;
}

.boxSegmentos .btn{
    margin-top: 40px;
    height: 40px;
}

.boxSegmentos .btnBox{
    margin: 0;
    padding: 0;
    padding: 12px 25px 12px 25px;
    border: solid 1px #00cbe4;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    background-image: linear-gradient(to right, #00cbe4, #00ecff); /*efeito degradé*/
    
}

/*Comandos media query*/
@media (max-width: 1100px){
    .boxSegmentos{
        transition: 1s;
        display: inline-block;
    }

    .boxSegmentos .box1{
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
        transition: 1s;
        
    }

    .boxSegmentos .box1 .menu1, .boxSegmentos .box1 .menu2{
        display: flex;
        text-align: center;
        width: 100%;
    }

    .boxSegmentos .box2{
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
        transition: 1s;
    }

    .boxSegmentos .box1 li{
        display: inline-flex;
        float: left;
        margin-left: 20px;
        transition: 1s;
    }
}

@media (max-width: 1000px){
    .boxSegmentos .box1 .menu1, .boxSegmentos .box1 .menu2{
        display: block;
        width: 100%;
    }
}

@media (max-width: 550px){
    .boxSegmentos{
        padding-left: 20px;
        padding-right: 20px;
    }

    .box1, .menu1, .box1 .menu2{
        margin: 0;
        padding: 0;
        padding-right: 20px;
    }
}
